<div>images</div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="https://images.all-free-download.com/images/graphicthumb/delicious_food_04_hd_pictures_167550.jpg" alt=""></ng-template>  
    <ng-template carouselSlide><img src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80" alt=""></ng-template>  
    <ng-template carouselSlide><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVuUT9diUwdq14X0MQPLIF3gG_gA8cGOHBm0hHmtmgicdTyZg4Fe2m_M0fTGQihEnNfrM&usqp=CAU" alt=""></ng-template>  
    <ng-template carouselSlide><img src="https://images.all-free-download.com/images/graphicthumb/food_picture_02_hd_pictures_167557.jpg" alt=""></ng-template> 
    <!-- <ng-template carouselSlide><img src="" alt=""></ng-template>  -->
  </owl-carousel-o>
  <div>Some tags after</div>